<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.detallab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.dentallab.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dentallab.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.AdminLogin"
            android:label="@string/title_activity_admin_login"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.AddPerson"
            android:label="@string/title_activity_add_person"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".AdminAddWorkTypeActivity"
            android:label="@string/title_activity_admin_add_work_type"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.ExpandableDoctorListView"
            android:label="@string/title_activity_expandable_doctor_list_view"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.AdminAddWorkTypeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.JobEntry"
            android:label="@string/title_activity_job_entry"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.JobList"
            android:label="@string/title_activity_job_list"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.dentallab.BalanceSheet"
            android:label="@string/title_activity_balance_sheet" >
        </activity>
    </application>

</manifest>